<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
<script src="https://js.stripe.com/v3/" type="text/javascript"></script>
<script type="text/javascript"><!--
{% if publishable_key %}
$('#button-confirm').on('click', function() {
	var stripe = Stripe("{{ publishable_key }}");
	stripe.redirectToCheckout({
	  // Make the id field from the Checkout Session creation API response
	  // available to this file, so you can provide it as parameter here
	  sessionId: "{{ session_id }}"
	}).then(function (result) {
	  // If `redirectToCheckout` fails due to a browser or network
	  // error, display the localized error message to your customer
	  // using `result.error.message`.
	});
});
{% else %}
console.log('failed');
{% endif %}
//--></script>